.idea
node_modules
public/hot
public/storage
public/js
public/css
public/vendors
public/fonts
public/images
public/mix-manifest.json
vendor
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/vuexy-shell-scripts
